#ifndef SECRET_H
#define SECRET_H

#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "password"
#define SERVER_IP "192.168.178.99"
#define AUTHENTICATION_TOKEN "token"
#define RFIDCARD_AUTH_CONST false

//name: "tuer","lasercutter","LaserXTool","3dprinter","metal-mill","lathe","embroiderymachine","cncmill-wood","cncmill-metal","3dprinter-xl","panel-saw","wood-planer","wood-bandsaw","miter-saw","wood-routertable"]
#define MACHINE_NAME "name" //defines the machine group for chekcing the permission
#define MACHINE_ID  "id" //used for the logfile in the backend 

#endif /* SECRET_H */