/**
 * @file secret.h
 * @brief Private credentials and local configuration overrides.
 * @details This file contains sensitive data like WiFi passwords and 
 * authentication tokens. It is excluded from version control to 
 * maintain security.
 * * @note If definitions here overlap with 'settings.h', compiler warnings 
 * may occur unless one side uses guard clauses.
 */

 /**
 * @defgroup RFIDBOX_POC Machine Node PoC (ESP32)
 * @brief Software for the RFID-Box and Power-Switching-Units.
 * @{ 
 */

#ifndef SECRET_H
#define SECRET_H

/**
 * @name Network Credentials
 * @brief Access data for the local infrastructure.
 */
///@{
#define WIFI_SSID     "SSID"             ///< Local WiFi network name
#define WIFI_PASSWORD "password" ///< WPA2 Network password
///@}

/**
 * @name Backend Communication
 * @brief Connection parameters for the management server.
 */
///@{
#define SERVER_IP            "192.168.178.99" ///< Target IP of the auth-server
#define AUTHENTICATION_TOKEN "token" ///< Secure API token
///@}

/**
 * @name Local Overrides
 * @brief Specific machine configuration for this local node.
 * @details Available machine types: "tuer", "lasercutter", "lasercutterXTool", 
 * "3dprinter", "metal-mill", "lathe", "embroiderymachine", "cncmill-wood", 
 * "cncmill-metal", "3dprinter-xl", "panel-saw", "wood-planer", 
 * "wood-bandsaw", "miter-saw", "wood-routertable"
 */
///@{
#define MACHINE_NAME "lasercutterXTool" ///< Defines the machine group for permission checks
#define MACHINE_ID   "lasercutterXTool"   ///< Unique ID used for backend logging
///@}

/**
  * @name OTA Update Credentials
 * @brief Authentication for Over-The-Air firmware updates via ElegantOTA.
 * @details These credentials are required to access the OTA web interface. The BUILD versions of these variables set the credentials for the firmware build.
 *
 *
 * Usage in code:
 *   const char* otaUser = OTA_BUILD_USERNAME;
 *   const char* otaPass = OTA_BUILD_PASSWORD;
 *
 * OTA_BUILD_USERNAME and OTA_BUILD_PASSWORD will resolve to the new credentials if defined, else the current ones.
 */
///@{
// Uploader credentials (current - for platformio_upload.py)
#define OTA_USERNAME "freilab-admin"     ///< Uploader username
#define OTA_PASSWORD "2Kd6HBuQSt95kxIOdgb0lFpzxUtcbdoY"         ///< Uploader password (current - MUST match running firmware)

// Optional Firmware credentials (NEW - baked into firmware, will be used after this upload)
//#define OTA_BUILD_USERNAME "freilab-admin"
//#define OTA_BUILD_PASSWORD "2Kd6HBuQSt95kxIOdgb0lFpzxUtcbdoY1"

// Fallback: if firmware credentials not defined, use uploader credentials
#ifndef OTA_BUILD_USERNAME
#  define OTA_BUILD_USERNAME OTA_USERNAME
#endif
#ifndef OTA_BUILD_PASSWORD
#  define OTA_BUILD_PASSWORD OTA_PASSWORD
#endif
///@}

#endif /* SECRET_H */