[secrets]
server_ip = dashboard.intern
auth_token = YOUR_AUTH_TOKEN
machine_id = tuer-01
ota_ip_door_01 = 10.30.0.x
ota_ip_door_02 = 10.30.0.x
wifi_ssid = YOUR_WIFI_SSID
wifi_password = YOUR_WIFI_PASSWORD
